<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">

<div layout:fragment="content">
	<div class="container">
		<form th:action="@{/auth/loginProc}" method="post">
			<div class="form-group">
				<label for="username">username</label> 
				<input type="text" name="username" class="form-control" placeholder="Enter Username" id="username">
			</div>
			<div class="form-group">
				<label for="password">Password</label> 
				<input type="password" name="password" class="form-control" placeholder="Enter password" id="password">
			</div>
			<!-- <div class="form-group form-check">
				<label class="form-check-label"> 
				<input name="remember" class="form-check-input" type="checkbox"> Remember me
				</label>
			</div> -->
			<button id="btn-login" class="btn btn-primary">로그인</button>
			<a th:href="@{https://kauth.kakao.com/oauth/authorize?client_id=e3eeb6de453bf0fa0848a5c0a3358cd2&redirect_uri=http://localhost:9090/auth/kakao/callback&response_type=code}">
				<img height="38px" th:src="@{/image/kakao_login_button.png}"/>
			</a>
		</form>
	</div>
</div>
</html>
