<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">

<div layout:fragment="content">
	<div class="container">
		<form>
			<input type="hidden" id="id" th:value="${#authentication.principal.user.id}"/>
			<div class="form-group">
				<label for="username">username</label> 
				<input type="text" th:value="${#authentication.principal.user.username}" class="form-control" placeholder="Enter username" id="username" readonly>
			</div>
			
			<th:block th:if="${#strings.isEmpty(#authentication.principal.user.oauth)}">
				<div class="form-group">
					<label for="password">Password</label> 
					<input type="password" class="form-control" placeholder="Enter password" id="password">
				</div>
			</th:block>
			
			<div class="form-group">
				<label for="email">Email</label> 
				<input type="email" th:value="${#authentication.principal.user.email}" class="form-control" placeholder="Enter email" id="email" readonly>
			</div>
		</form>
		<button id="btn-update" class="btn btn-primary">회원수정완료</button>
	</div>
	<script th:src="@{/js/user.js}"></script>
</div>
</html>
